a, a:visited, a b {cursor: pointer;text-decoration: none;}

a{
	text-decoration:none;
	transition: all .2s linear;
	-moz-transition: all .2s linear; /* Firefox 4 */
	-webkit-transition:all .2s linear; /* Safari and Chrome */
	-o-transition:all .2s linear; /* Opera */
}

body{font-family: 'Open Sans', sans-serif;font-size:9px;}

/***************************************************
	  page-header
***************************************************/

input[type='text'], input[type='password'], textarea, select {
	background: #ffffff;
	border: 1px solid #dddddd;
	padding: 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	max-width: 100%;
	outline: none;
	}
	
th{text-align:left;}
td.id{width:20px;}
th.id{width:20px;}
tr{text-align:left;}
#header-top{
	background:#333;
}

#search input {
	margin:5px 0;
	padding: 1px 27px 4px 3px;
	width: 225px;
	height: 21px;
	border: none;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-khtml-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	color: #4b4b4b;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

#search-bar{
	background:#929292 url(../img/search-icon.png) no-repeat right;
    padding-right: 17px;
	z-index:9999;
}

#header-bottom{
	background:#000;
}
	
.user-menu{
	margin-top:24px;
}
.user-menu ul {
	float: right;
	padding: 0px;
	margin: 0px;
}

.user-menu > ul > li {
	float: left;
	margin-right: 10px;
	display: block;
	position: relative;
}

.user-menu > ul > li > .background {
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgba(255,255,255,0.3);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.user-menu > ul > li > a {
	display: block;
	font-size: 11px;
	min-width: 58px;
	padding: 22px 6px 0;
	text-align: center;
	background-position: center 5px;
	color: #aaaaaa;
	height: 20px;
	background-repeat: no-repeat;
	zoom: 1;
	position: relative;
}


.user-menu > ul > li.account a {
	background: url(../img/user.png) no-repeat center top;
}

.user-menu > ul > li.login a {
	background: url(../img/lock-closed.png) no-repeat center top;
}
.user-menu > ul > li.signup a {
	background: url(../img/user-add.png) no-repeat center top;
}

.user-menu > ul > li.wishlist a {
	background: url(../img/edit.png) no-repeat center top;
}

#cart {
	position: relative;
	display: block;
	float: right;
	overflow: visible;
}

#cart .heading {
	position: relative;
	padding-bottom: 10px;
}

#cart .heading .background {
	position: absolute;
	width: 100%;
	height: 42px;
	background:rgba(255,255,255,0.3);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#cart .heading .mini_header_cart {
	height: 42px;
	position: relative;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	zoom: 1;
}

#cart .heading .mini_header_cart #cart-total, #cart .heading .mini_header_cart .cart_empty {
	background-image: url(../img/shopping-cart.png);
	background-repeat: no-repeat;
	background-position: 8px 5px;
}

#cart .heading .mini_header_cart a {
	display: inline-block;
	font-size: 11px;
	color: #aaaaaa;
	line-height: 22px;
	margin: 0px;
}

.heading .mini_header_cart .cart_empty {
	padding: 10px 10px 10px 45px;
}


p.featured{
	color: #333;
	font-size: 24px;
	margin-top: 17px;
	width: 19%;
	padding: 8px;
}



/***************************************************
	  navigation
***************************************************/
#navigation{
	background:#662d91;
}

#mainmenu ul {
	float: left;
	padding: 0px;
	margin: 0px;
}

#mainmenu> ul > li {
	float: left;
	margin-right: 10px;
	display: block;
	position: relative;
}

#mainmenu> ul > li > a {
	display: block;
	font-size: 14px;
	min-width: 58px;
	padding: 19px 8px 0;
	text-align: center;
	background-position: center 5px;
	color: #fff;
	height: 34px;
	background-repeat: no-repeat;
	zoom: 1;
	position: relative;
}

#mainmenu> ul > li > a:hover{
	background:rgba(255,255,255,0.3);
}


/***************************************************
	  content
***************************************************/

#content{
	padding-top:15px;
	background:#fff;
}

#loginform{
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 14px;
}

#loginform p{
	text-transform:uppercase;
	margin: 0 0 0.5em;
	padding: 0;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	clear: both;
}

#loginform p.title{
	font-size:21px;	
}
#loginform label {
	display: block;
	color: #666666;
	text-transform: uppercase;
	margin-bottom: 5px;
}

#loginform input.text {
	border: 1px solid #d5d5d5;
	background: #f9f9f9 url(../img/input.png) repeat-x top left;
	color: #666666;
	font-size: 14px;
	padding: 8px 8px;
	margin: 0;
	outline: 0;
	width:90%;
}

#loginform a.forgotten {
	float: right;
	padding: 19px 0 0 0;
	text-transform: none;
	text-decoration:underline;
	color:#333;
}

#loginform input.button {
	font-size: 13px;
	font-family: Trebuchet MS;
	display: inline-block;
	font-weight: bold;
	padding: 11px 24px;
	margin-left: 0;
	color: white !important;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	cursor: pointer;
	border: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	background:#662d91;
}


/***************************************************
	catalog
***************************************************/

.catalog{
	float:left;
	margin:3px;
	font-size:.95em;
	color:#fff;
	height:350px;;
}
.catalog h2{
	color:#662d91;
	font-weight:900;
	font-size:1em;
}
.catalog p {
	font-size:.75em;
	color:#000;
}

.listrow{
	margin:20px;
}
.list{
	margin:3px;
	text-align:left;
}
.list img{
	margin:10px 0;
	padding:5px 0;
}
.btn{
	margin-top:50px;
	text-decoration:none;
	font-family: "Courier New", Courier, Monaco, monospace;
	font-size: 14px;
	color: #ffffff;
	padding: 2.5px 5px;
	background: -moz-linear-gradient(
		top,
		#ff7ab6 0%,
		#bd0d5c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff7ab6),
		to(#bd0d5c));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 5px;
	border: 1px solid #ffc7e0;
	-moz-box-shadow:
		0px 1px 3px rgba(232,0,104,0),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(232,0,104,0),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(232,0,104,0),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(168,28,91,0.4),
		0px 1px 0px rgba(168,28,91,0.3);
}
/***************************************************
	  footer
***************************************************/
#footer{
	background:#333;
	color:#ccc;
	padding-top:20px;
	padding-bottom:30px;
}

p.footer-title{
	color:#666;
	margin-left:6px;
}

#footer ul {
	padding-left:10px;
}

#footer ul li{
	list-style:none;
	text-transform:capitalize;
}


#footer ul li.phone{
	font-size: 21px;
font-weight: lighter;
color: orange;
}

#footer ul li a, #footer ul li p{
	font-weight:lighter;
	color:#ccc;
	font-size:13px;
}
#footer ul li p{
	line-height:2;
 }

#footer ul li a:hover{
	color:#ccc;
	text-decoration:underline;	
}

.footer-right{
	margin-left:13px;
}
.footer-col{
	padding:15px 0;
}
.contactinfor{
	background:rgba(0,0,0,0.1);
	padding: 15px 0;
	
}

span.contact img{
	vertical-align:text-bottom;
	width:19px;
	padding-right:4px;
	
}
p.footer-content{
	font-weight: lighter;
	color: #666;
	font-size: 12px;
}

.footer-bottom{
	padding-top: 11px;
	border-top: 1px #662d91 solid;
	margin-top: 31px;
}



/***************************************************
	  cart 
***************************************************/
.nobr {
	white-space: nowrap !important;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: 100%;
	border-spacing: 2px;
	border-color: gray;
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

.data-table {
	width: 100%;
	border: 1px solid #bebcb7;
}

.data-table thead th {
	font-weight: normal;
	border-right: 1px solid #c2d3e0;
	padding: 8px;
	color: #333;
	white-space: nowrap;
	vertical-align: middle;
}

.data-table tr.last th, .data-table tr.last td {
	border-bottom: 0 !important;
}

.data-table thead th {
	background: #D2D2D2;
}

.a-center {
	text-align: center !important;
}

.a-right {
	text-align: right !important;
}


tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

media="all"
caption, th, td {
	vertical-align: top;
	text-align: left;
	font-weight: normal;
}


tbody td {
	border-bottom: 1px solid #d9dde3;
	border-right: 1px solid #d9dde3;
}

.cart-table td {
	padding: 10px;
}


.cart-table .product-name a {
	font-weight: normal;
	margin: 0 0 5px;
	color: #666;
}

.data-table tfoot {
	border-bottom: 1px solid #d9dde3;
}

.data-table tfoot tr {
	border-top: 1px solid #ccc;
}

tfoot {
	display: table-footer-group;
	vertical-align: middle;
	border-color: inherit;
}

.cart-table .btn-continue {
	float: left;
}

button.button {
	overflow: visible;
	width: auto;
	border: 0;
	padding: 0;
	margin: 0;
	background: transparent;
	cursor: pointer;
}

button.button span {
	display: block;
	background: #d2d2d2;
	padding: 3px 20px;
	font: bold 12px/23px;
	text-align: center;
	white-space: nowrap;
	color: #3170BB;
	border-radius:2px;
}

td a{
	color:#999;	
}

.totals table tbody td{
	border:none;
	
}

.totals table {
	width: 100%;
	margin: 7px 0;
}

.totals td {
	padding: 4px 16px 3px 8px;
}

.totals .checkout-types {
	font-size: 12px;
	padding: 8px 15px 15px;
	text-align: right;
}

.totals .checkout-types li {
	clear: both;
	margin: 10px 0;
	list-style:none;
}

button.btn-checkout span span {
	background-position: 100% 0;
	padding: 10px 31px;

}


#total-box{
	border: 1px #ccc solid;
	margin-top: 24px;
	margin-bottom: 26px;
	
}


/***************************************************
	  category
***************************************************/
.category-content, .client-content{
	margin: 30px 0;
}

.category{
	background:#f7f7f7;
	padding:20px;
}
.category ul{
	list-style:none;
}

.category ul li{
	line-height: 2.6;
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
	padding-left:10px;
}

.category ul li a:hover{
	text-decoration:underline;
}

.product-wrapper{
	text-align: center;
	padding: 17px 0;
	border: 1px solid #cacaca;
}
.product-wrapper img{
	width:150px;
}

.product-infor p.product_pr {
	color: #f3734f;
	font-size: 23px;
}

.product-list-wrap{
	margin-bottom:16px;
}

p.result span.page-result{
	font-style:italic;
	ont-weight: lighter;
	color: #999;
	
}

p.result{
	padding-bottom:10px;
}

p.result span.nl-result{
	margin-right:20px;
	float:right;
}

p.result span.nl-result a{
	text-decoration: underline;
padding: 3px 10px;
}

/***************************************************
	  My account
***************************************************/

p.client-header{
	font-size: 22px;
display: block;
margin-bottom: 11px;
}

#client-general-inf p{
	padding-bottom: 4px;
}

#client-general-inf fieldset label{
	margin-top: 9px;
	width: 149px;
	cursor: pointer;
	display: inline-block;
	font-weight: lighter;
	font-size: 15px;
}

form#client-general-inf input[type="text"]{
	margin-bottom: 5px;
	height: 19px;
	padding: 3px 8px;
	width:334px;
	color:#999;
	font-weight:lighter;
}
	


input#firstname{
	margin-right: 12px;
	width:150px !important;
}

input#lastname{
	width:150px !important;
}

ul.client-menu{
	background:#f7f7f7;
	padding: 19px 40px;
	list-style:none;
}
ul.client-menu li{
	border-bottom: 1px #cacaca dotted;
padding: 3px 0;
	
}
ul.client-menu li a{
	line-height: 2;
color: #000;
font-weight: lighter;
padding-left: 6px;
}
ul.client-menu li a:hover{
	text-decoration:underline;
	color:#662d91;
}

ul.client-menu span img{
	vertical-align:text-top;
}
/***************************************************
	  login 
***************************************************/

.login-content{
	min-height:300px;
	padding-top:70px;
}

p.login-header{
	font-size: 22px;
font-weight: lighter;
margin-bottom: 19px;
	
}


/***************************************************
	  admin
***************************************************/

.admin-table td{
	padding:2px;
	text-align: left;
}

.admin-table a{
	text-decoration:underline;
	color:#093;
}

.addnew-table{
	width:100%;
}

.addnew-table tbody tr td.lastcell {
	border-top: 1px solid #cacaca;
border-bottom: none;
	
}

.admin-table tbody td {
	border-right: none;
}

span.addnew{
	display: block;
margin-top: 16px;
}

ul.admin-menu{
	background: #f7f7f7;
padding: 5px;
list-style: none;
}

ul.admin-menu li{
	line-height:1.5;
}

ul.admin-menu li a{
	color:#000;}

ul.admin-menu li a:hover{
	text-decoration:underline;
	color:#03F
}

tr.form{
	text-align:right;
}
p.aboutus-content{
	margin-bottom: 15px;
	padding: 10px;
	line-height: 1.7;
}

.admin-product-table thead th{
	 border-right: 1px solid #FFFFFF;
	
}

.admin-product-table tbody td {
    border-right: 1px solid #CCCCCC !important;
}